# ignore app-token text file
app-token.txt

# ignore ipynb_checkpoints
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# ignore exported data
*.csv

# ignore Tableau files
*.twbx
*.twb

# ignore rough work
Reverse Geocoding.ipynb
