# ignore app-token text file
app-token.txt

# ignore ipynb_checkpoints
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# ignore Tableau files
*.twbx
*.twb

# ignore rough work
Reverse Geocoding.ipynb

# ignore to do list
to-do.txt

# ignore archived files
**/Archived*Files/
Archived*Files/